<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <style>
        td, th {
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Get All Todo</h1>
    <% if (typeof deleted !== 'undefined') { %>
        <%if (deleted == 'true') { %>
            <div style="color: green;">
                Deleted Successfully
            </div>
        <% } %>
        <br>
    <% } %>

    <form action="/todo" method="get">
        <input type="text" name="title" placeholder="Enter title">
        <button type="submit">Search</button>
    </form>
    <br>

    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Des</th>
            <th>Publish</th>
            <th>Action</th>
        </tr>
        <% todo.forEach((item) => { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.title %></td>
                <td><%= item.description %></td>
                <td><% if (item.published) { %> yes <% } %></td>
                <td>
                    <a href="/todo/edit/<%= item.id %>">Edit</a> <br>
                    <a href="/todo/delete/<%= item.id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
    
</body>
</html>